.header_logo {
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #63BA58;
    font-weight: normal;
}

.header_tab {
    background-color: #63BA58;
}
