<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          th:href="@{'https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css'}">
    <link rel="stylesheet" th:href="@{/css/header.css}">

    <title>PayMyBuddy - Home</title>
</head>
<body>
    <header th:insert="fragments/header.html :: header(page_name='home')">
    </header>

    <div class="container">
        <div th:if="${result} == 1" class="alert alert-success" role="alert" auto-close="3000">
            <strong>Success</strong> ! Your transaction has been done.
        </div>
        <div th:if="${result} == -1" class="alert alert-danger" role="alert" auto-close="3000">
            <strong>Failed</strong> ! Check your wallet.
        </div>
        <div th:if="${result} == 2" class="alert alert-success" role="alert" auto-close="3000">
            <strong>Success</strong> ! Your add has been done.
        </div>
        <div th:if="${result} == -2" class="alert alert-danger" role="alert" auto-close="3000">
            <strong>Failed</strong> ! Your add failed, email is unknown.
        </div>
    </div>

    <div class="container">
        <img class="mx-auto d-block" th:src="@{/img/payMyBuddy.png}" alt="logo_payMyBuddy">
    </div>

    <div class="container">
        <p class="text-end" th:text="'My wallet: ' + ${wallet}"></p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Transaction</h5>
                        <p class="card-text">Make a transaction with a connection</p>
                        <!-- Button trigger transaction modal -->
                        <button type="button" class="btn btn-primary"
                                data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                            Make a transaction
                        </button>
                        <!-- Transaction modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form name="transaction_form" method="post"
                                          th:action="@{transaction}"
                                          th:object="${transaction}">
                                        <div class="modal-header">
                                            <h5 class="modal-title"
                                                id="exampleModalLabel">Transaction</h5>
                                            <button type="reset"
                                                    class="btn-close"
                                                    data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label class="col-form-label">Select a connection:</label>
                                                    <select class="form-select"
                                                            required="required"
                                                            th:field="*{emailCreditor}">
                                                        <option value=""
                                                                disabled>Select a connection
                                                        </option>
                                                        <option th:each="email : ${connections}"
                                                                th:value="${email}"
                                                                th:text="${email}">
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-form-label">Amount:</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">$</span>
                                                        </div>
                                                        <input required="required"
                                                               type="number"
                                                               min="0.01"
                                                               step="0.01"
                                                               value="0.00"
                                                               id="price"
                                                               class="form-control"
                                                               placeholder="Price"
                                                               th:field="*{price}">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-form-label">Descrption:</label>
                                                    <textarea
                                                            class="form-control"
                                                            id="message-text"
                                                            th:field="*{description}"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <input class="form-check-input"
                                                           type="checkbox"
                                                           value=""
                                                           id="defaultCheck1"
                                                           required="required">
                                                    <label class="form-check-label"
                                                           for="defaultCheck1">
                                                        Confirm your transaction
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="reset"
                                                    class="btn btn-secondary"
                                                    data-bs-dismiss="modal">
                                                Close
                                            </button>
                                            <button type="reset"
                                                    class="btn btn-warning">
                                                Reset
                                            </button>
                                            <button type="submit"
                                                    class="btn btn-primary">
                                                Submit
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div th:if="${isAdmin} == true" class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Update wallet</h5>
                        <p class="card-text">You are an admin, you can update wallet of all users</p>
                        <!-- Button trigger admin modal -->
                        <button type="button" class="btn btn-primary"
                                data-bs-toggle="modal"
                                data-bs-target="#adminModal">
                            Update
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="adminModal" tabindex="-1"
                 aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form name="admin_form" method="post"
                              th:action="@{admin}">
                            <div class="modal-header">
                                <h5 class="modal-title"
                                    id="adminLabel">Admin</h5>
                                <button type="reset"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label class="col-form-label">Select a connection:</label>
                                        <select class="form-select"
                                                required="required" th:name="user">
                                            <option value=""
                                                    disabled>Select a connection
                                            </option>
                                            <option th:each="user : ${allUsers}"
                                                    th:value="${user.getEmail()}"
                                                    th:text="${user.getEmail()}">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Amount:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input required="required"
                                                   type="number"
                                                   min="0.01"
                                                   step="0.01"
                                                   value="0.00"
                                                   id="priceAdmin"
                                                   class="form-control"
                                                   placeholder="Price"
                                                   th:name="wallet">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               value=""
                                               id="defaultCheck2"
                                               required="required">
                                        <label class="form-check-label"
                                               for="defaultCheck1">
                                            Confirm your transaction
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="reset"
                                        class="btn btn-secondary"
                                        data-bs-dismiss="modal">
                                    Close
                                </button>
                                <button type="reset"
                                        class="btn btn-warning">
                                    Reset
                                </button>
                                <button type="submit"
                                        class="btn btn-primary">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Add a connection</h5>
                        <p class="card-text">Add a connection</p>
                        <!--<a href="#" class="btn btn-primary">Add a connection</a>-->
                        <button type="button" class="btn btn-primary"
                                data-bs-toggle="modal"
                                data-bs-target="#connectionModal">
                            Add a connection
                        </button>
                        <!-- Button trigger transaction modal -->
                        <!-- Transaction modal -->
                        <div class="modal fade" id="connectionModal" tabindex="-1"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form name="transaction_form" method="post" th:action="@{connection}">
                                        <div class="modal-header">
                                            <h5 class="modal-title"
                                                id="connectionModalLabel">Add a connection</h5>
                                            <button type="reset"
                                                    class="btn-close"
                                                    data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label class="col-form-label">New connection:</label>
                                                    <textarea
                                                            class="form-control"
                                                            id="connection_email" th:name="connection"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <input class="form-check-input"
                                                           type="checkbox"
                                                           value=""
                                                           id="connectionCheck1"
                                                           required="required">
                                                    <label class="form-check-label"
                                                           for="defaultCheck1">
                                                        Confirm your choice
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="reset"
                                                    class="btn btn-secondary"
                                                    data-bs-dismiss="modal">
                                                Close
                                            </button>
                                            <button type="reset"
                                                    class="btn btn-warning">
                                                Reset
                                            </button>
                                            <button type="submit"
                                                    class="btn btn-primary">
                                                Submit
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:insert="fragments/footer.html :: footer">
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script th:src="@{'https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js'}"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!-- <script th:src="@{'https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js'}"></script>
    <script th:src="@{'https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js'}"></script>-->
    <script th:src="@{'https://code.jquery.com/jquery.min.js'}"></script>
    <script th:src="@{'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'}"></script>

    <script>
        $(function () {
            var alert = $('div.alert[auto-close]');
            alert.each(function () {
                var that = $(this);
                var time_period = that.attr('auto-close');
                setTimeout(function () {
                    that.alert('close');
                }, time_period);
            });
        });
    </script>

</body>
</html>